<div class="container__big-card">
  <div class="big-card__photo">
    <img
    src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIexFnPk8HWmdbMloyRx6Bzp8Vef2xoySACw&usqp=CAU"
    alt=""
    height="270px"
    srcset=""
    >
  </div>
  <div class="big-card__title">
    <h1><a href="#">A emoção do Call of Duty em movimento</a></h1>

  </div>
  <div class="big-card__description">
    <p>
      <a href="#">
        Call of Duty: Mobile is a free-to-play first-person shooter video game developed by Tencent Games and published by Activision for Android and iOS. It was released on October 1, 2019. The game received over 20 million downloads within a day of its release, earning over $2 million in revenue.
      </a>
    </p>

  </div>
</div>
